:root {
    --primary-100: #0064b7;
    --primary-100a: #0064b7cc;
    --primary-100b: #0064b799;
    --black-100: #151515;
    --black-90: #262626;
    --green-100: #028b42;
    --white-70: #8d8d8d;
}