.bx--header-panel.bx--header-panel--expanded {
  width: 600px;
}

.textpanel-container {
  padding: 10px;
}

.title-input {
  width: 100%;
  margin: auto;
  min-height: 20px;
}

.title-input input {
  all: unset;
}

.title-input textarea {
  all: unset;
}

.title-input textarea {
  width: 100%;
  background-color: #161616;
  color: #ffffff;
  height: 40px;
  min-height: 40px;
  border: none;
  border-radius: 1px;
  padding: 0.5rem;
  font-size: 24px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.title-input textarea::placeholder {
  font-size: 1em;
  color: #ffffff;
}

.title-input textarea:focus {
  outline: none;
}

.regular-input textarea {
  font-size: 14px;
  line-height: 1.4;
}
