.side-nav-menu-overrides button {
  background-color: #262626 !important;
}

.side-nav-menu-overrides button:hover {
  background-color: rgb(48, 48, 48) !important;
}

.side-nav-menu-overrides span {
  color: #c6c6c6 !important;
  width: 70% !important;
}

.side-nav-menu-item-overrides a::before {
  display: none;
}

.side-nav-menu-item-overrides a {
  cursor: pointer;
  text-decoration: none;
}

.side-nav-menu-item-overrides a:hover {
  cursor: pointer;
  background-color: rgb(48, 48, 48);
  text-decoration: none;
}

.side-nav-menu-item-overrides-selected {
  background-color: rgb(48, 48, 48);

}


.side-nav-menu-overrides button::before {
  display: none !important;
}

.cds--side-nav__submenu-chevron>svg {
  fill: #6f6f6f;
}

.cds--side-nav--ux {
  z-index: 1000000;
}

.cds--header__action {
  height: 40px;
  width: 40px;
}

.cds--header__name {
  padding: 0 !important;
}

.new-folder-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  padding-left: 35px;
  padding-right: 15px;
  cursor: pointer;
}

.new-folder-button:hover {
  background-color: rgb(48, 48, 48);
}

.new-note-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  padding-left: 53px;
  padding-right: 16px;
  cursor: pointer;
}

.new-note-button:hover {
  background-color: rgb(48, 48, 48);
}