.structured-list-cell-overides {
  color: #c6c6c6;
  padding: 0 !important;
  padding-left: 10px !important;
  padding-bottom: 5px !important;
}

.structured-list-head-overides {
  border-bottom: 1px solid #393939 !important;
}

.structured-list-row-overides {
  height: 10px;
  border: none !important;
}
.structured-list-row-overides:hover {
  background-color: #393939;
  cursor: pointer;
}
// .name-cell {
//   width: 50%;
// }
